* {
    font-family: sans-serif;
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.color-display {
    width: 50%;
    height: 300px;
    display: flex;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 0.6rem;
    text-align: center;
    line-height: 3.725rem;
    transition: 0.25s ease;
}

.color-display p {
    color: hsl(0, 0%, 20%);
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

input[type="color"] {
    width: 6rem;
    height: 4rem;
    padding: 0.4125rem;
    border-radius: 0.6rem;
    border: 3px solid hsl(0, 0%, 80%);
}