body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.425rem solid;
    border-radius: 3.125rem;
    background-color: white;
    padding: 1.875rem;
    margin-bottom: 2rem;
}

.display {
    font-size: 5rem;
    font-weight: bold;
    font-family: monospace;
    color: hsl(0, 0%, 20%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 20%);
    margin-bottom: 1.75rem;
}

.controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.6rem 1.25rem;
    margin: 0.4125rem;
    min-width: 8rem;
    border: none;
    outline: none;
    border-radius: 0.6rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;   
}

.start-button {
    background-color: rgba(0, 196, 0, 1);
}

.start-button:hover {
    background-color: rgba(0, 166, 0, 1);
}

.stop-button {
    background-color: rgba(196, 0, 0, 1);
}

.stop-button:hover {
    background-color: rgba(166, 0, 0, 1);
}

.reset-button {
    background-color: rgb(40, 40, 255);
}

.reset-button:hover {
    background-color: rgba(40, 40, 195, 1);
}

.remove-button {
    background-color: rgb(0, 0, 0);
}

.remove-button:hover {
    background-color: rgb(63, 63, 63);
}

.add-stopwatch {
    background-color: gray;
    height: 8rem;
    width: 8rem;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 5rem;
    margin-top: 2rem;
    color: white;
    border: none;
    outline: none;
    transition: background-color .5s ease;
}

.add-stopwatch:hover {
    background-color: rgb(71, 71, 71);
}

.stopwatch-title {
    resize: none;
    border: none;
    outline: none;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}