.count {
    font-size: 10rem;
    text-align: center;
    font-family: sans-serif;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.button {
    outline: none;
    border: none;
    background-color: aqua;
    text-align: center;
    padding: 0.7125rem;
    border-radius: 0.275rem;
    width: 30%;
    font-family: sans-serif;
    font-size: 1.875rem;
    cursor: pointer;
}