body {
    background-color: rgba(44, 44, 44, 0.69);
}

.to-do-list {
    font-family: sans-serif;
    text-align: center;
    margin-top: 6.75rem;
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.6rem 1.25rem;
    color: white;
    border: none;
    border-radius: 0.4125rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button {
    background-color: green;
}

.add-button:hover {
    background-color: rgb(2, 99, 2);
}

.delete-button {
    background-color: red;
}

.delete-button:hover {
    background-color: rgb(148, 0, 0);
}

.move-button {
    background-color: rgb(86, 86, 244);
}

.move-button:hover {
    background-color: rgb(57, 57, 165);
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 0.6rem;
    border: 2px solid rgba(155, 155, 155, 0.499);
    border-radius: 0.4125rem;
    color: rgb(51, 51, 51);
    outline: none;
}

ol {
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.975rem;
    background-color: rgba(255, 255, 255, 0.692);
    margin-bottom: 0.6rem;
    border: 3px solid rgba(235, 255, 255, 0.9);
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.delete-button, .move-button {
    padding: 0.5rem 0.75rem;
    font-size: 1.4rem;
    margin-left: 0.6rem;
}